<div>
    <h3>Registration Form</h3>
    <form [formGroup]="form">
        <label>Enter Firstname :</label>
        <br>
        <input type="text" formControlName="firstname">
        <br><br>
        <label>Enter Lastname :</label>
        <br>
        <input type="text" formControlName="lastname">
        <br><br>
        <label>Enter Date of Birth :</label>
        <br>
        <input type="date" formControlName="dob">
        <br><br>
        <label>Enter Gender :</label>
        <br>
        <mat-radio-group aria-label="select an option"formControlName="gender" >
            <mat-radio-button value="male" >Male</mat-radio-button>&nbsp;&nbsp;
            <mat-radio-button value="female" >Female</mat-radio-button>&nbsp;&nbsp;
            <mat-radio-button value="not specified" >not specified</mat-radio-button>
        </mat-radio-group>
        <br><br>
        <label>Enter Status :</label>
        <br>
        <mat-radio-group aria-label="select an option" formControlName="status">
            <mat-radio-button value="Active" >Active</mat-radio-button>&nbsp;&nbsp;
            <mat-radio-button value="Suspended" >Suspended</mat-radio-button>&nbsp;&nbsp;
        </mat-radio-group>
        <br><br>
            <button class="btn btn-success" (click)="addValue()">{{actionBtn}}</button> &nbsp;&nbsp;
            <button mat-raised-button color="warn" type="reset">Clear</button>
    </form>
</div>
